* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    width: 1364px;
    margin: 0 auto;   
}
.header {
    background-color: black;
    height: 100px;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
h1 {
    color: white;
}
.main-wrapper {
    
}
.main-content {
    margin-top: 20px;
}

.img__block {
    width: 300px;
    height: 400px;
    
}
img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 3px 12px black;
    height: 100%;
    
}
.main-description {
    display: flex;
   justify-content: center;

}
.text {
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-content h1 {
    color: black;
    text-align: center;
}
.hobby {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 12px lightgray;
    padding: 15px 15px 15px;
    width: 400px;
    font-size: 20px;
   

}
.rewiew {
    height: 200px;
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 10px lightgray;
    padding: 15px 15px 15px;
    width: 400px;
    font-size: 25px;
    margin-left: 10px;
}

.footer{
    background-color: black;
    margin-top: 20%;
    overflow-y: hidden;
}
.footer__wrapper {
    padding: 20px 0 0 ;   
} 
.img-contact__block {
    width: 150px;
    height: 150px;
}
.img-contact__block .img-contact {
   width: 100%;
   height: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.task__block {
    width: 400px;
    height: 200px;
    box-shadow: 2px 3px 12px lightgray;
    padding: 15px 15px 15px;
    background-color: white;
}
.nav {
   font-size: 20px;
   margin: 20px 0 0;

}
.nav li a {
    text-decoration: none;
    color: white;
   
}

ul {
    display: flex;
    align-items: center;    
}
.nav__link{
    list-style-type: none;
    margin-left: 20px;
}
.nav__link:first-child {
    margin-left: 0px;
}