/* Стили для шапки */
.header {
    background-color: #333; /* Темный серый цвет */
    color: #f0f0f0; /* Светлый серый цвет для текста */
}

/* Стили для футера */
.footer {
    background-color: #333; /* Темный серый цвет */
    color: #f0f0f0; /* Светлый серый цвет для текста */
}

/* Дополнительные стили для элементов шапки и футера, если необходимо */

/* Стили для ссылок в шапке */
.header a {
    color: #17a2b8; /* Голубой цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

/* Стили для ссылок в футере */
.footer a {
    color: #17a2b8; /* Голубой цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
