/* Стили для шапки */
.header {
    background-color: #f0f0f0; /* Светлый серый цвет */
    color: #333; /* Темный серый цвет для текста */
}

/* Стили для футера */
.footer {
    background-color: #f0f0f0; /* Светлый серый цвет */
    color: #333; /* Темный серый цвет для текста */
}

/* Стили для ссылок в шапке */
.header a {
    color: #007bff; /* Синий цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

/* Стили для ссылок в футере */
.footer a {
    color: #007bff; /* Синий цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

