body {
  font-family: 'Roboto', Arial, sans-serif;
}
.main {
  border-top: 2px solid blue;
}
.header {
  min-height: 320px;
}
.container-index {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name h2 {
  font-size: 24px;
  font-weight: bold;
  color: #0093fd;
  text-align: center;
}
.photo {
  width: 25%;
}
.photo img {
  width: 80%;
}
.content {
  width: 70%;
}
.hobby {
  width: 45%;
  float: left;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: rgb(122, 9, 9);

}
.learning {
  width: 45%;
  float: right;
  margin-right: 10px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: rgb(122, 9, 9);
}
.logo {
  width: 150px;
}
.header nav {
  float: right;
  text-align: center;
  width: 78%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
.table-mendel {
  margin: 100px auto;
}
.table-mendel .container-element {
  position: relative;
  width: 150px;
  height: 100px;
  color: #000;
}
table,
th,
tr,
td {
  border: 3px solid rgb(219, 11, 167);
  border-collapse: collapse;
}
.td1 {
  background-color: rgb(230, 230, 14);
}
.td2 {
  background-color: rgb(241, 62, 62);
}
.td3 {
  background-color: rgb(10, 195, 241);
}
.td4 {
  background-color: rgb(230, 230, 14);
}
th {
  background-color: gold;
}
.element1 {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 40px;
  font-weight: bold;
}
.element2 {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
}
.element3 {
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  font-size: 18px;
}
.element4 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.top_menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.top_menu-item {
  margin-right: 10px;
}
.top_menu-item a {
  background-color: #09cc12;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
}
.table-seasons img {
  width: 150px;
  height: 150px;
}
.table-seasons {
  margin: 100px auto;
}
.td-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-tr1 img {
  transform: rotate(90deg);
  filter: blur(2px);
}
.table-tr2 img {
  transform: rotate(180deg);
  filter: grayscale(90%);
}
.table-tr3 img {
  transform: rotate(270deg);
  filter: invert(100%);
}
.table-tr4:hover img {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
  transition: all 0.6s ease 0s;
}
.table-tr1 {
  background-color: #09cc12;
}
.table-tr2 {
  background-color: #1a06d4;
}
.table-tr3 {
  background-color: #b0ee1e;
}
.table-tr4 {
  background-color: #d3570f;
}
.news-container {
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.news-img img {
  width: 100%;
}
.articles-img img {
  width: 100%;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.news {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 100%;
}
.articles {
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(1, 100%);
  justify-content: space-around;
  text-align: center;
  align-content: center;
}
.articles-container {
  padding: 10px;
}
@media screen and (min-width:400px) and (max-width:1100px) {
  .news-container {
    width: 40%;
  }
  .news {
    flex-wrap: wrap;
  }
}
@media screen and (min-width:1101px) {
  .news-container {
    width: 20%;

  }
}
@media screen and (min-width:401px) {
  .articles {
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 45%);
  }
  .articles-container {
    padding: 0;
  }
}
@media screen and (max-width:750px) {
  .top_menu {
    height: 200px;
    flex-direction: column;
  }
  .top_menu-item {
    margin-bottom: 20px;
  }
  .header {
    min-height: 700px;
  }
  .header nav {
    width: 51%;
  }
  .content,
  .hobby,
  .learning {
    width: 90%;
  }
  .wraper {
    min-height: calc(100vh - 300px);
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-contacts {
    margin: 10px 0;
    align-items: center;
  }
  .footer-contacts div {
    margin-bottom: 5px;

  }
}
@media screen and (max-width:1300px) {
  .container-index {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo {
    width: 300px;
  }
}
.cell {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: 40px 55px;
  border: 2px solid #141414;
  width: 160px;
  height: 95px;
  padding: 5px;
  margin: 100px auto;
  background-color: #e6e929;
}
.cell-text1,
.cell-text2,
.cell-text3,
.cell-text4 {
  display: grid;
}
.cell-text1 {
  font-size: 42px;
  font-weight: bold;
}
.cell-text2 {
  font-size: 20px;
  font-weight: bold;
  justify-content: end;
  padding-top: 7px;
}
.cell-text3 {
  align-items: end;
  font-size: 20px;
  font-weight: bold;
}
.cell-text4 {
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

.wraper {
  min-height: calc(100vh - 150px);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #d80a0a;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-social img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.tasks-php {
  display: grid;
grid-template-columns: 30% 50% 20%;
grid-template-rows: repeat(4, auto);
}
.solution p {
  white-space: pre-line;
}
.tasks-php div{
  padding: 5px;
}
.articles {
  margin-bottom: 50px;
}
.center {
  text-align: center;
}
.m-50 {
  margin: 50px 0;
}
.arrays {
  display: grid;
grid-template-columns: 30% 50% 20%;
grid-template-rows: repeat(2, auto);
}
.true_page {
  width: 300px;
height: 180px;
border: solid 7px #1de31d;
color: #0d66b3;
text-align: center;
font-size: 35px;
padding: 10px;
font-weight: bold;
margin: auto;

}

.false_page {
  width: 350px;
height: 150px;
border: solid 7px #e7190e;
color: #0d66b3;
text-align: center;
font-size: 35px;
padding: 10px;
font-weight: bold;
margin: auto;
}
.color {
  color: #8f1414;
    font-size: 21px;
}

.ans-cookie {
  color: #000;
  position: relative;
  text-decoration: none;
}

.ans-cookie::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.ans-cookie:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.red-color {
  color: #8f1414;
  font-size: 18px;
}